@import '../node_modules/bootstrap/scss/bootstrap.scss'
.foq
    font-family: 'Courgette', cursive
    font-size: 52px
header
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../../images/banner1.jpg")
    background-size: 100%
    width: 100%
    background-repeat: no-repeat
    padding-bottom: 155px
.pol
    font-size: 13px
    border-bottom: 1px solid white
    border-top: 1px solid white
    padding-top: 15px
.ii
    width: 50%
.sz
    max-width: 50%
    margin: 0 auto
.but1
    border-radius: 18px
    border-color: transparent
    font-size: 13px
    background-color: #fff
.but2
    border-radius: 18px
    border-color: transparent
    font-size: 13px
    background-color: #CA234F
.na
    color: #CA234F
.sa
    font-size: 40px
.foo
    background-image: url('../../images/bottom_decoration_img.png')
    background-color: rgba(0, 0, 0, 0.9)
    height: 10px
    width: 100%
    background-repeat: repeat
.section
    background-image: url('../../images/main_bg.jpg')
    width: 100%
.lii 
    background-color: white
    border-style: solid
    border-width: 1px
    border-color: lightgrey
    overflow: hidden
.maz
    font-family: 'Courgette', cursive
    padding-top: 30px
    margin-bottom: -10px
.sol
    color: #CA234F
    font-size: 50px
.vd
    max-width: 45%
    margin: auto
.nmf
    font-size: 35px
    color: black
.nmp
    font-size: 35px
    color: white
.bnh
    font-size: 60px
    padding-top: 10px
    color: lightgrey
    border-bottom-style: solid
    border-right-style: solid
    border-bottom-width: 1px
    border-right-width: 1px
    border-right-color: lightgrey
    border-bottom-color: lightgrey
.bn
    font-size: 60px
    padding-top: 15px
    color: #CA234F
    border-bottom-style: solid
    border-right-style: solid
    border-bottom-width: 1px
    border-right-width: 5px
    border-right-color: #CA234F
    border-bottom-color: lightgrey
.sdp
    font-size: 25px
    font-family: 'Courgette', cursive
    color: black
.mpk
    width: 25%
    border-radius: 50%
    border-style: solid
    border-width: 6px
    border-color: #dbd4d4de
.az
    float: left
    margin-left: -15px
.aze
    float: right
    margin-right: -15px
.azer
    float: left
    margin-left: -15px
.azert   
    float: right
    margin-right: -15px
.bob
    border-bottom-style: dashed
    border-bottom-width: 1px
    border-bottom-color: lightgrey
.ji
    background-color: rgb(236, 231, 231)
    border-color: transparent
    color: #CA234F
    padding-right: 15px
    padding-left: 15px
    float: right
    font-size: 20px
.gvn
    font-size: 15px
.chef
    background-image: url("../../images/team_background.jpg")
    background-repeat: no-repeat
    height: 580px
.dnj
    border-bottom-color: lightgrey
    border-bottom-style: solid
    border-bottom-width: 1px
.wz
    width: 70%
    padding: 10px
    border-radius: 10px
    border-color: transparent
    color: black
.gfs
    background-image: url("../../images/book_table_bg.jpg")
    background-size: 100%
    width: 100%
    border-radius: 20px
    max-width: 70%
    margin: auto
.dfd
    font-size: 30px
.bup
    padding: 15px
    background-color: #CA234F
    color: white
    border-radius: 50px
    border-color: transparent
    margin: auto